<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
     <h4>Postulante: Alvaro Moises Castro Romero</h4>
     <h5>DNI: 71477169</h5>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright
  </div>

</footer>
