<body>
  <div id="grid">
    <div class="card" *ngFor="let color of colores"  [style.background-color]="color.color" cdkCopyToClipboard="{{color.color}}" (click)="mostrarNotificacion()" >
      <a >
        <div class="card-body">
          <p class="card-text">{{color.year}}</p>
          <h3 class="nombreColor">{{color.name}}</h3>
          <h5 class="codigoColor">{{color.color}}</h5>
          <p class="valorColor">{{color.pantone_value}}</p>
        </div>
      </a>

    </div>
  </div>
  <ul class="pagination">
    <li class="page-item">
      <span class="page-link" (click)="anteriorPagina()">Anterior</span>
    </li>
    <li class="page-item">
      <span class="page-link" (click)="siguientePagina()">Siguiente</span>
    </li>
  </ul>
</body>





