.card{
  width: 33%;
  cursor: pointer;
  transition: all 400ms ease;
  border-radius: 20px;
  margin: 1px;
}
.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);

}
#grid{
  display: flex;
  flex-wrap: wrap;

}
.nombreColor{
  display: flex;
  justify-content: center;
}
.codigoColor{
  display: flex;
  justify-content: center;
}
.valorColor{
  display: flex;
  justify-content: right;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.page-item{
  width: 100%;
}
.page-link{
  width: 100%;
  display: flex;
  justify-content: center;
}
